<div class="movies-wrapper">
  <% @movies.includes(:votes, :user).each do |movie| %>
    <% vote_ups = movie.votes.select(&:up?).to_a %>
    <% vote_downs = movie.votes.select(&:down?).to_a %>

    <% vote_up = vote_ups.find { |v| v.user_id == current_user&.id } %>
    <% vote_down = vote_downs.find { |v| v.user_id == current_user&.id } %>

    <div class="movie-item-wrapper">
      <div class="movie-iframe-wrapper">
        <iframe src="<%= movie.embed_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
      </div>

      <div class="movie-content">
        <div class="movie-title-wrapper">
          <h4><%= movie.title %></h4>
        </div>

        <div class="movie-author-wrapper">
          <div class="movie-author">
            <p>Shared by: <%=movie.user.email %></p>
          </div>

          <div class="vote-wrapper">
            <% if vote_down.present?  %>
              <a id="vote-<%= vote_down.id %>" rel="nofollow" href="<%= vote_path(vote_down) %>" data-method="delete">
                <i class="fa fa-thumbs-down fa-2x"></i>
              </a>
            <% elsif vote_up.present?  %>
               <a id="vote-<%= vote_up.id %>" rel="nofollow" href="<%= vote_path(vote_up) %>" data-method="delete">
                <i class="fa fa-thumbs-up fa-2x"></i>
              </a>
            <% else %>
              <a id="vote-up-<%= movie.id %>" href="<%= votes_path('vote[vote_type]' => 'up', 'vote[movie_id]' => movie.id) %>" data-method="POST">
                <i class="fa fa-thumbs-o-up fa-2x"></i>
              </a>

              <a id="vote-down-<%= movie.id %>" href="<%= votes_path('vote[vote_type]' => 'down', 'vote[movie_id]' => movie.id) %>" data-method="POST">
                <i class="fa fa-thumbs-o-down fa-2x"></i>
              </a>
            <% end %>
          </div>
        </div>
        <div class="movie-vote-result-wrapper">
          <div class="movie-vote-result movie-1-<%= movie.id %>">
            <span><%= movie.vote_ups_count %></span>
            <i class="fa fa-thumbs-o-up fa-1x"></i>
          </div>

          <div class="movie-vote-result movie-2-<%= movie.id %>">
            <span><%= movie.vote_downs_count %></span>
            <i class="fa fa-thumbs-o-down fa-1x"></i>
          </div>
        </div>

        <div class="movie-description-wrapper">
          <p>Description: </p>
          <p><%= movie.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>